@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto+Slab:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

body {
    background-image: url(./images/Снимок\ экрана\ 2023-11-15\ в\ 14.58.45\ 21.54.43.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

header {
    display: flex;

}

header div.left {
    width: 30%;
    text-align: left;
    height: 90%;
    margin: 2%;
    border-radius: 10px;
    padding: 40px 0 60px 60px;
}


header div.left img {
    height: 300px;
    padding: 0 30px;
}

header div.bottom a.button1 {
    min-width: 517px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 140px;
    border-radius: 100px;
    color: #000000;
    background: rgb(3, 112, 58);
    color: white;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

h2 {
    margin: 40px 0;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header div.bottom a.button2 {
    background-color: white;
    padding: 15px 150px;
    color: black;
}

div.line {
    background-color: white;
    margin: 140px 0 auto 30px;
    width: 1px;
    border-radius: 1px;
    height: 60vh;
}

div.right h1 {
    margin: 20px 0;
    color: rgb(3, 112, 58);
    font-size: 70px;
    font-family: 'Roboto Slab', serif;

}

header div.right h2 {
    text-align: start;
    font-size: 34px;
    margin: 0;
}

header div.right {
    margin: 180px 100px;
}
header div.right p{
    color: white;
    margin: 5px 0px;
    font-family:'Roboto Slab', serif ;
}