@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,1000&family=Roboto+Condensed:wght@200;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
}

header div.left {
    display: flex;
    width: 55%;
    height: 100vh;
    background-color: rgba(13, 14, 16, 1);
    justify-content: center;
    flex-direction: column;
}

header div.left h1 {
    font-size: 65px;
    color: white;
    white-space: nowrap;
    margin: 0px 0px 0px 90px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 1000;
}

header div.left p.account {
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}

header div.left a.sign {
    text-decoration: none;
    color: rgba(110, 173, 109, 1);
    margin-left: 100px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}

header div.left input {
    background-color: rgba(40, 44, 48, 1);
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: none;
    display: flex;
    height: 50px;
    width: 550px;
    justify-content: center;
    align-items: center;
}

header div.left p.forgot {
    color: white;
    margin-left: 490px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    white-space: nowrap;
}

header div.left button {
    background-color: rgba(21, 149, 50, 1);
    margin-left: 100px;
    border-radius: 3px;
    border: none;
    display: flex;
    height: 50px;
    width: 550px;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

header div.right {
    display: flex;
    width: 55%;
    height: 100vh;
}



.button_s {
    text-decoration: none;
    white-space: nowrap;
    padding: 16px 252px;
    color: white;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 00;
}

::placeholder {
    margin-left: 10px;
    font-size: 15px;
    text-indent: 20px;
}