@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
}

header div.left {
    background-color: black;
    width: 120vh;
    height: 100vh;
}

.left {
    width: 60% !important;
}

header div.left img {
    width: 250px;
    padding: 0px 0px 0px 20px;
}

header div.left h1 {
    color: white;
    font-size: 150px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 50px 50px 0px 20px;

}

header div.left p {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    padding: 0px 55px 140px 30px;
    margin: 0;
}

header div.right {
    margin: 30px 40px;
    text-align: start;
}

header div.right h1 {
    margin: 50px 20px 20px 80px;
    font-size: 50px;
}

header div.right input {
    background-color:rgb(197, 231, 208);
    margin: 20px 80px;
    border-radius: 8px;
    border: none;
    padding: 20px 230px 15px 20px;
}

header div.right a {
    margin: 200px 130px;
}

.button {
    background-color: rgb(45, 189, 89);
    border: none;
    border-radius: 10px;
    margin-left: 210px;
    padding: 9px 0 9px 0;
    display: flex;
    height: 40px;
    width: 130px;
    justify-content: center;
    align-items: center;
    white-space:nowrap;
}



.p2 {
    padding-top: 15px;
    padding-left: 200px;

}

.a9 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.a4 {
    text-decoration: none;
    color: rgb(147, 217, 168);
    padding-left: 130px;
    vertical-align: 15px;
}

::placeholder {
    font-size: 13px;
    text-transform: uppercase;
    
}

